.header {
  background-color: #19a9e7;
  padding-block: 16px;
  padding-inline: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media only screen and (max-width: 720px) {
    // padding-inline: 16px;
  }

  &__name {
    color: white;
  }

  nav {
    display: flex;
    gap: 16px;
    @media only screen and (max-width: 720px) {
      display: none;
    }
  }

  a {
    color: white;
    text-decoration: none;
    font-size: 24px;
  }

  &__container-mobile {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 16px;
    top: 70px;
    right: 0;
    background-color: #19a9e7; /* Sfondo bianco */
    border-radius: 16px;
    padding: 24px;
    margin: 16px;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  &__link {
    color: white;
    text-decoration: none;
  }

  &__icon {
    display: none;

    @media only screen and (max-width: 720px) {
      display: block;
      cursor: pointer;
      color: white !important;
    }
  }

  a:hover {
    color: white;

    text-decoration: underline white;
  }
}

.me-auto {
  background-color: red;
}
